.venv
/dataset/your_facebook_activity*
.env
.DS_Store
data_annotation
*.pkl
__pycache__
certificate.pem
annotations
credentials.json
service_account_key.json
token.json
japan_visa_related_classifier.pkl
.mypy_cache
.gradio
env.yaml